<div class="container">
    <h1>Lista de compras</h1>
    <form #frm="ngForm" class="add-item" (ngSubmit)="adicionarCompras">
        <input type="text" id="item" [(ngModel)]="item" placeholder="Digite o nome do item">
        <button type="submit" >Adicionar</button>
    </form>

    <table>
        <thead> <!--tradução pra lembrar estamos em uma table, então T+HEAD = thead-->
            <tr>
                <th>#</th>
                <th>Item</th>
                <th></th>
            </tr>
        </thead>
        <tbody><!--tradução pra lembrar estamos em uma table, então T+BODY = tbody-->
            <tr>
                <td>1</td>
                <td>Arroz</td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Feijão</td>
                <td><input type="checkbox"></td>
            </tr>
        </tbody>
    </table>

</div>